export GOROOT="/usr/local/go1.12.5"
export GOEXE="/usr/local/go1.12.5/bin"
export GOPATH="/home/dominic/go1.12.5"
export GOBIN="/home/dominic/go1.12.5/bin"
export PATH="$GOEXE:$PATH"
export PATH="$GOBIN:$PATH"
export GO111MODULE=on
